.strike {
  text-decoration: line-through;
}
input[type=text]:focus,input[type=checkbox]:focus{
  outline: none;
}

img{
  display: none;
}
.list-group-item:hover {
  background-color: lightyellow;
}
