{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} {{ title }} {% endblock %}



{% block app_content %}

<div class="container">
  <div class="row">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class='flashes mx-auto'>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row">

      {{ wtf.quick_form(form,extra_classes='mx-auto col-md-5',button_map={'submit':'success'}) }}


  </div>
</div>


{% endblock %}
