{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}




{% block app_content %}
<div class="container card-columns">

{% for key,value in list.items()%}

    <form class="card border-0 m-2"  id='{{key}}' action="{{url_for('index')}}" method="POST">
      <div class="card-header d-flex rounded-0 bg-primary">
        {% if key=='' %}
        <div class="text-white card-link" href="">"No Tittle"</div>
        <input type="hidden" value="{{key}}"  placeholder="No Current Tittle" autocomplete="off" name="tag">
        <!-- <img style="width:1em" src="../static/open_iconic/svg/circle-x.svg" alt='delete'> -->
        {% else %}
        <div class="text-white card-link" href="{{url_for('tag_list',tag=key)}}">{{key}}</div>
        <!-- <img style="width:1em" src="../static/open_iconic/svg/cog.svg" alt="edit"> -->
        <input type="hidden" value="{{key}}" placeholder="No Current Title" autocomplete="off"  name="tag">
        <!-- <img style="width:1em" src="../static/open_iconic/svg/circle-x.svg" alt='delete'> -->
        {%endif%}
      </div>
      <div class="list-group list-group-flush">
      {% for entry in value%}
        <div class="list-group-item border-right border-left form-check d-flex pl-5">
          <input class="form-check-input" type="checkbox" name="{{entry.id}}" id="{{key}}ent{{entry.id}}">
          <label class="form-check-label mr-auto" for="{{key}}ent{{entry.id}}">
              {{entry.text}}
          </label>
          <img onclick="removeentry()" style="width:1em" src="../static/open_iconic/svg/circle-x.svg" alt='delete'>
        </div>
      {% endfor %}
      </div>
        <input type="text" class=""  placeholder=" + List Item" autocomplete="off" name="entry">
    </form>


{%endfor%}



</div>



{% endblock %}
